body {
    background-color: lightgray;
}
#boy-bands {
    color: red;
    text-align: center;
}

#vegetables {
    color: green;
    text-align: center;
}

#loop-number {
    font-size: 1.5em;
    font-family: Helvetica, Sans-serif;
    text-align: center;
}